*{
    box-sizing: border-box;
}


a{    
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
}
a:hover{
    color: #00e0d0;
}
li{
    list-style: none;
}
.header__container{
max-width: 960px;
margin: 0 auto;
display: flex;
justify-content: space-between;

}

.menu li{
    display: inline-block;
    text-transform: uppercase;
    padding-left:22px;
    padding-top: 16px;
}

.header__logo{
    padding-top:16px;
}
header{
    background-image: url(img/BACKGROUND.jpg);
    min-height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.header__container-title{
padding-top: 159px;
max-width: 780px;
margin: 0 auto;

}
.header__title{
    margin: 0;
    height: 74px;
    font-size:32px;
    color:#ffffff;
    text-align:center;
    font-family: 'Playfair Display';
}
.separate{
    margin-top: 27px;
    margin-bottom: 0;
    border:1px solid #00e0d0;
    width: 50px;
    
}
    /*
    background-image: url(img/Separator.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 56px;
}
*/
.header__container-text{
    width: 780px;
    height: 79px;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Roboto light';
}
.header__text{
    padding:0px 7px;
    padding-bottom: 21px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color:#ffffff;
    margin: 0px;
}
.header__btn {
    padding-top: 33px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button{
    background:none;
    border:1px solid #00e0d0;
    color:#00e0d0;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
}
.header__dots{
    padding-top: 127px;
    max-width: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.dot {
    height: 10px;
    width: 10px;
    border: 1px solid #bbbabc;
    background:none;
    border-radius: 50%;
    display: inline-block;
  }
.dot:first-child{
    background-color: #00e0d0;
  }
.block1__container-logo{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.block1__title{
    height: 0;
    margin: 0;
    font-size: 22px;
    color: #413d4b;
}
.block1__text{
    padding-top: 48px;
    margin:0 ;
    font-size: 14px;
    line-height: 22px;
    color: #413d4b;

}
.block1__container-text{
    width: 540px;
    padding-top: 71px;

}
.block1__logo{
    padding-top: 70px;
    padding-left: 5px;
}
.block1__btn{
    padding-top: 35px;
}
.block1{
min-height: 402px;
}
.video{
    background-image: url(img/background-video.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 550px;
}
.video__container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 202px;
}
.video__text{
    max-width: 460px;
    margin: 0 auto;
    font-size: 16px;
    color: #ffff;
    text-align: center;
    margin-top: 34px;
    height: 0;
}
.expertise{
    height: 754px;
}
.container__skills{
    width: 960px;
    height: 217px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.expertise-container{
    max-width: 960px;
    margin: 0 auto;
}
.expertise__title{
    max-width: 460px;
    height: 34px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    padding-top: 70px;
    font-family: 'Playfair Display Bold';
}
.expertise__title-text{
    padding-top: 37px;
    max-width: 460px;
    height: 27px;
    margin: 0 auto;
    margin-bottom: 93px;
    text-align: center;
    font-size: 14px;
    font-family: 'Playfair Display Regular';
}
.expertise__separate{
    border:2px solid #c6c4c9;
    width: 50px;
    margin-top: 21px;
    margin-bottom: 0;  
}
.expertise__skills{
    text-align: center; 
    margin: 0 auto;
    width: 300px;
}
.title__skills{
    margin: 0;
    font-size: 14px;
    color: #413d4b;
}
.text__skills{
    font-size: 14px;
    color: #7a7a7a;
}
.skills__separate{
    width: 940px;
    border:1px solid #ebebeb;
    margin: 0 auto;
}
.container__skills2{
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.img__icons{
    margin-bottom:35px;
    height: 50px;
}
.img__icons2{
    margin-top: 39px;
    margin-bottom: 35px;
    height: 50px;
}
.ourteam{
    background-image: url(img/background-MOAT.png);
    min-height: 712px;
    background-size: cover;
    background-repeat: no-repeat;
}
.ourteam__container{
    max-width: 960px;
    margin: 0 auto;
    
}
.ourteam__title{
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    padding-top: 71px;
    height: 0;
    font-family: 'Playfair Display Bold';

}
.ourteam__title-text{
    height: 64px;
    max-width: 460px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-top: 36px;
    font-family: 'Playfair Display Regular';
}
.ourteam__separate{
    border:2px solid #655b80;
    width: 50px;
    margin-top: 21px;
    margin-bottom: 0;
}

.ourteam__img{
    width: 940px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    padding-top: 47px;
}
.container-names{
    width: 940px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}
.ourteam__name{
    border: 1px solid #77768a;
    
    text-align: center;
}
.name{
    width: 218px;
    height: 14px;
    font-size: 14px;
    color: #f3f3f5;
    margin: 0;
    margin-top: 20px;
}
.position{
    width: 218px;
    height: 17px;
    font-size: 13px;
    color: #c0c0c7;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 20px;
}
.ourteam__text{
    max-width: 454px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #f3f3f3;
    margin-top: 73px;
}
.ourteam__btn{
    width: 460px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 69px;
}
.ourproject{
    height: 737px;
}
body{
 margin:0;
}

